.card {
    margin-top: 1em;
    background-color: rgba(255, 255, 255, 0.1); /* Add some transparency to the background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    z-index: 1;
    backdrop-filter: blur(10px); /* Apply the background blur */
    -webkit-backdrop-filter: blur(10px); 
    
    
  }
  
  .card-header {
    background-color: rgba(255, 255, 255, 0.25);;
    color:#3E001F;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    overflow: hidden;
  }
  
  .card-content {
    padding: 10px;
  }
  