/* Style for the form container */
form {
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;

  }
  
  /* Style for form labels */
  label {
    display: block;
    margin-bottom: 0;
    color: #2d0c05;
    
  }
  
  /* Style for text inputs and textareas */
  input[type="text"],
  input[type="email"],
  textarea,
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 0;
    
    border-radius: 5px;
    font-size: 16px;
    color:#200904 ;
    background-color: rgba(237, 227, 219, 0.3);
  }
  
  /* Style for the "Submit" button */
  .Gbutton {
    background-color: #B2533E;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
    width:10em;
    height: 3em;
  }
  
  
  /* Style for the image input */
  input[type="file"] {
    margin-top: 10px;
  }
  
  /* Style for the name container */
.name-container {
    display: flex;
    gap: 10px; /* Add spacing between the input fields */
  }
  
  /* Style for the input containers */
  .input-container {
    flex: 1;
  }
 /* Style for the Phone Number textarea */

  
  /* Style for the button container */
.button-container {
    display: flex;
    justify-content: center;
     
  }
  .mobile-number-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
  }
  
  span {
    background:none;
    color: #200904;
    padding: 6px;
    border-radius: 4px 0 0 4px;
  }
  
  input {
    flex: 1;
    border: none;
    padding: 6px;
    border-radius: 0 4px 4px 0;
  }
  
  input::placeholder {
    color: #999;
  }
  
  /* Add any additional styles to suit your design */
  /*new*/

  .phone-input-container {
  display: flex;
  align-items: center;
  /* border: 1px solid #ccc; */
  
  border-radius: 5px;
  width:40%;
  
}
.country-code-input {
    flex: 1;
    border: none;
    padding: 8px;
    border-radius: 5px 0 0 5px;
    max-width: 12%;
    background-color: rgba(223, 210, 199, 0.3);
  }
  
  .phone-input {
    flex: 3;
    border: none;
    padding: 8px;
    border-radius: 0 5px 5px 0;
    width:90%;
    background-color: rgba(223, 210, 199, 0.3);
  }
